<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bombay Cuisine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/nearby.css">
    <link rel="icon" href="../../static/logo.gif"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../static/logo.gif" style="position: fixed; top: -25px; left: 5px">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Menu (Coming Soon)</a></li>
            <li><a href="/why">Why Bombay Cuisine?</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/nearby">Nearby</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Bombay Cuisine > Nearby</h3>
    <hr>
    <p>Nearby there are shops to keep you busy while your waiting for your order.<br>Looking to treat yourself : Right next door is "Oh My Gelato" which is a dessert shop!<br>Oh no! You forgot to buy the groceries! Don't worry, you'll find everything you need at the local Keystore.</p>
</div>
<footer><p><img src="../../static/logo.gif">at 32 Glenburn Rd, Paisley PA2 8JG</p></footer>
</body>
</html>
