<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bombay Cuisine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/why.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../../static/logo.gif"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../static/logo.gif" style="position: fixed; top: -25px; left: 5px">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Menu (Coming Soon)</a></li>
            <li><a href="/why">Why Bombay Cuisine?</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/nearby">Nearby</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Bombay Cuisine > Why Bombay?</h3>
    <hr>
    <p>At Bombay Cuisine you'll find the finest chefs and the finest ingredients, Our chefs each have multiple food hygiene certificates and awards<br> Our food is prepared with the uttermost care and our flavours are better yet.<br>Our menu is filled with loads of options for your day such as native food like fish and chips and pizza. But we also have options from Asia such as hundreds of Indian foods which bring the taste of India to you.<br>Still in doubt? Ask us straight away on the phone : <a href="tel:0141 884 2748">0141 884 2748</a></p>
</div>
<footer><p><img src="../../static/logo.gif">at 32 Glenburn Rd, Paisley PA2 8JG</p></footer>
</body>
</html>